<p id="notice"><%= notice %></p>

<h1>Блог</h1>

<%@posts.each do |post|%>
  <div class="post">
        <h3 class="title"><%=post.title%></h3>
        <b><p><%= post.body %></p></b>
        <small><%=post.user&.login%></small>
        <%= l(post.created_at, format: :long) %>
        <%= link_to 'Подробнее', post %>
    </div>
    <div class="body">
      </div>
<%end%>

<%= link_to 'New Post', new_post_path %>
