<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, val| %>
      <p class='notice'>
        <%= val %>
        </p>
        <%end%>

    <% if @current_user%>
    <%= "ЗДРАВСТВУЙТЕ, #{@current_user.login}!" %>
    <%= link_to 'ВЫЙТИ', logout_path %>
    <%else%>
    <%= link_to 'ВОЙТИ', logout_path %>
    <%=  link_to "ЗАРЕГИСТРИРОВАТЬСЯ", new_user_path %>
    <% end%>

    <%= yield %>
  </body>
</html>
